<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        <title>{% block title %}Nash Lesigon's Playground{% endblock %}</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ asset('js/jquery.uniform.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
            $(function(){
                $("input, textarea, select, button").uniform();
            });
        </script>

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/uniform.default.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>


</html>
