{% extends 'PlaygroundHomeBundle::layout.html.twig' %}

{% block body %}
    <div class="wrapper">
        
    </div>
{% endblock %}

{% block footer %}
<p>Powered by <a href="http://symfony.com/" target="_blank">Symfony 2</a></p>
{% endblock %}